<!-- index page is the main page -->
<!-- meaning after the domain name or server ip/tcp, "idex.html" doesn't -->
<!-- have to be explicitly stated for the page to load as the home page -->

<!DOCTYPE html>

<html lang="en">

  <%- include('./partials/head.ejs') %>

  <body>

    <div class="wrapper bg-wrap">
      
      <%- include('./partials/navigation.ejs') %>

      <header>
        <!-- <img class="background" src="../Images/Assets/sound-wave2.gif"> -->
        <!-- <img class="foreground" src="../Images/Assets/foreground.png" alt="Foreground"> -->
        <div class="title-container">
          <div>
            <h1 class="band-name band-name-large no-highlight">Bowow</h1>
            <h2 class="band-desc">Music Producer x DJ</h2>
          </div>
        </div>
        
      </header>

      <div class="content-area">
        <section>
          <div class="network">
            <div class="network-msg">Stay Up to Date and get Connected</div>
            <div class="network-btn-container">
              <a href="#network" class="network-btn">→ Join the Network</a>
            </div>
          </div>
        </section>

        <section class="content-section bg-black">
          <div class="music-container container">
            <div class="section-header1">Latest Albums / Singles</div>
            <div class="separator"></div>

            <div class="songs-container">

              <% if( Array.isArray(songs) && songs.length > 0 ){ %>
                <% songs.forEach( (song)=>{ %>
                  <div class="song">
                    <a href=<%=song.link%> >
                      <img src=<%=song.image%> defer/>
                      <div class="fadedbox">
                        <div class="song-author song-text"><%=song.author%></div>
                        <div class="song-title song-text"><%=song.title%></div>
                      </div>
                    </a>
                  </div>
                <%})%>
              <%}%>
            </div>
          </div>
        </section>

        <!-- <section class="content-section bg-white">
                    <div class="general-container container">
                        
                    </div>
                </section>

                <section class="content-section bg-white">
                    <div class="general-container container">

                    </div>
                </section>

                <section class="content-section bg-white">
                    <div class="general-container container">

                    </div>
                </section>
                -->

        <section id="network" class="content-section bg-black">
          <div style="height: 100px"></div>
        </section>

        <section class="content-section bg-transparent">
          <div class="contact-container container">
            <div class="section-header">
              Music. Community. Boundless Possibilities.
            </div>
            <div class="separator-long"></div>
            <div class="contact-text desc-text">
              Join for the latest news, highlights and content.
            </div>
            <div class="discord-btn">
              <a href="https://discord.gg/pWtFKKsX7V">
                <span style="font-size: 48px">
                  <i id="discord-logo" class="fa-brands fa-discord"></i>
                </span>
              </a>
            </div>
          </div>
        </section>

        <section class="content-section bg-offwhite">
          <div class="discord-container container">
            <div class="discord-card">
              <div class="card-desc">
                <div class="card-header">Interested in working together?</div>
                <div class="desc-text" style="color: rgb(0, 0, 0)">
                  I am looking for partnerships and might be interested in
                  working with you. Please fill out this form so we can connect.
                </div>
                <button class="start-btn">Get Started</button>
              </div>
              <div class="card-img">
                <img src="./Assets/Images/musicians.png" alt="Icon" />
              </div>
            </div>
          </div>
        </section>

        <section class="content-section bg-black">
          <div class="bio-container">
            <div class="bio-desc">
              <div class="band-name band-name-medium">Bowow</div>
              <div class="separator"></div>
              <div class="desc-text">
                Inspired by creators such as Avicii, David Guetta, Kygo, and
                Cash Cash, he created a unique brand of entertainment, fusing
                melodic, vibing tunes with a variety of fun instrumentals that
                will get you to be in high spirits. With an award winning
                portfolio and a bright future, he continues to hone his music
                production. He uses industry standard music DAWs, synthesizes
                new sounds, and is in touch with up and coming artists to create
                a unique feel for his music.
              </div>
              <br />
              <div class="desc-text">
                Bowow is a electronic music producer and DJ from New City, New
                York. The solo creator started in 2016 as a melodic,
                bass-boosted, EDM, fan going on to study music and sound
                recording at the University of New Haven. Bowow's passion for
                music and dedication to honing his craft led him to create
                captivating and high-energy electronic tracks that resonate with
                audiences.
              </div>
            </div>
            <div class="bio-img">
              <img class="about-logo-image" src="./Assets/Images/bio-img.png" />
            </div>
          </div>
        </section>

        <section class="bg-black">
          <div class="gallery">
            <img src="./Assets/Images/img1.jpg" alt="Image1" />
            <img src="./Assets/Images/img2.jpg" alt="Image2" />
            <img src="./Assets/Images/img3.jpg" alt="Image3" />
            <img src="./Assets/Images/img4.jpg" alt="Image4" />
            <img src="./Assets/Images/img5.jpg" alt="Image5" />
          </div>
        </section>

        <%- include('./partials/footer.ejs') %>

      </div>
    </div>
  </body>
</html>
